---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Me"
---

<Layout title={pageTitle}>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <h1>{pageTitle}</h1>
  <p>私について</p>
</Layout>
